@import "../assets/scss/main.scss";
.Auth {
  @media screen and (min-height: 895px) {
    padding-top: 240px;
  }
  padding: 90px 15px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.AuthTopLeft,
.AuthTopRight,
.AuthBotLeft,
.AuthBotRight {
  position: absolute;
  position: absolute;
}

.AuthTopLeft {
  @media screen and (min-height: 895px) {
    -webkit-transform: scale(1.7) !important;
    top: 55px;
    left: 0px;
  }
  top: 0;
  left: 0;
}
.AuthTopRight {
  @media screen and (min-height: 895px) {
    -webkit-transform: scale(1.6) !important;
    top: 100px;
    right: 17px;
  }
  top: 0;
  right: 0;
}
.AuthBotLeft {
  @media screen and (min-height: 895px) {
    -webkit-transform: scale(1.8) !important;
    bottom: 17px;
    left: 0px;
  }
  bottom: 0;
  left: 0;
}
.AuthBotRight {
  @media screen and (min-height: 895px) {
    -webkit-transform: scale(1.6) !important;
    bottom: -20px;
    right: -123px;
  }
  bottom: -8%;
  right: -35%;
}

.Auth_logo {
  @media screen and (min-height: 895px) {
    -webkit-transform: scale(1.2) !important;
    margin-top: 180px;
  }
  width: 70px;
  height: 70px;
  margin-bottom: 32px;
}

.Policy {
  @media screen and (min-height: 895px) {
    -webkit-transform: scale(1.3) !important;
    margin-top: 13px;
  }
  font-size: res(10, 10);
  line-height: 120%;
  color: $turquoise;
  text-align: center;
  span {
    color: $green;
  }
}
.Auth_error {
  @media screen and (min-height: 895px) {
    -webkit-transform: scale(1.2) !important;
  }
  font-size: res(10, 12);
  line-height: 120%;
  text-transform: uppercase;
  color: $red;
  margin-bottom: 20px;
}
